# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment
.venv/
.env
# Ignore editor settings
.idea/
.vscode/

# Ignore database files
db.sqlite3

# Ignore dependency files
Pipfile
Pipfile.lock

staticfiles/